<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="centered-title">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="centered-title">Iniciar Sesion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="LogService.formLogin" (ngSubmit)="onSubmit()"> 
        <ion-item> 
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <!-- <ion-label position="floating">Correo</ion-label>  -->
          <ion-input type="email"  formControlName="username"></ion-input> 
        </ion-item>
        <div *ngIf="LogService.formLogin.controls['username'].invalid && LogService.formLogin.controls['username'].touched"> 
          <small *ngIf="LogService.formLogin.controls['username'].errors?.['required']">El Correo es requerido.</small> 
          <small *ngIf="LogService.formLogin.controls['username'].errors?.['pattern']">Formato no válido para el correo.</small>
        </div>
        <ion-item>
          <ion-icon name="eye-off-outline" slot="start"></ion-icon>
          <!-- <ion-label position="floating">Contraseña</ion-label> -->
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <div *ngIf="LogService.formLogin.controls['password'].invalid && LogService.formLogin.controls['password'].touched">
          <small *ngIf="LogService.formLogin.controls['password'].errors?.['required']">Se requiere la contraseña</small>
          <small *ngIf="LogService.formLogin.controls['password'].errors?.['minlength']">la contraseña debe contar minimo con 6 caracteres</small>

        </div>
        <ion-button expand="block" type="submit" [disabled]="!LogService.formLogin.valid">Ingresar</ion-button>
        <ion-text color="primary">
          <a routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>
        </ion-text>
        
      </form>    
    </ion-card-content>
  </ion-card>
  
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-buttons>
      <!-- <ion-button (click)="Login()">¿No tienes cuenta? Regístrate</ion-button> -->
      <ion-button class="centered-title" (click)="registro()">¿No tienes cuenta? Regístrate</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>








