<ion-header>
  <ion-toolbar>
    <ion-title class="centered-title">Reset Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-item>
    <!-- <ion-label position="floating">Correo Electrónico</ion-label> -->
    <ion-input type="email" [(ngModel)]="email" placeholder="Ingresa tu correo"></ion-input>
  </ion-item>
  <ion-button expand="block" class="ion-margin-top" (click)="sendCode()">Recordar contraseña</ion-button>

  <ion-text color="medium">
    Recibirás un código de recuperación.
  </ion-text>
</ion-content>


