<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi lista de compras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <ion-col size="12" size-md="6">
        <ion-button
          expand="block"
          color="primary"
          routerLink="/products"
        >
          Lista de Productos
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <ion-button
          expand="block"
          color="secondary"
          routerLink="/shopping"
        >
          Lista de Compras
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

  <ion-footer>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button>Bienvenido</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
